@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: hsl(51, 82%, 60%);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
}

#clickerImg {
    width: 20%;
    margin-left: 40%;
    transition-duration: 0.2s;
    margin-top: 120px;
    margin-bottom: 0 auto;
}

#clickerImg:hover {
    transition-duration: 0.2s;
    transform: scale(1.1);
}

#clickerImg:active {
    transform: scale(1.0);
    transition-duration: 0.2s;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #6E2594;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #119DA4;
    transition-duration: 0.2s;
}

.navlink a:hover {
    transition-duration: 0.2s;
    background-color: hsl(51, 82%, 60%);
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition-duration: 0.2s;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #119DA4;
    border: 0px;
    border-radius: 10px;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition-duration: 0.2s;
    background-color: #6E2594;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#warioMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#warioMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 1em;
}

#speech {
    height: 160px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.0em;
    font-weight: bold;
    color: black;
    font-style: italic;
}

#store {
    background-color:#6E2594;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    background-color: #119DA4;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: 0px;
    transition-duration: 0.2s;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 5px;
}

button:hover {
    font-size: 1.1em;
    background-color: #ECD444;
    transition-duration: 0.2s;
}

#message {
    text-align: center;
}

#controls {
    background-color: #6E2594;
    border-radius: 5px;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#message > img {
    width: 250px;
    height: 250px;
}

#blocks {
    background-color: #6E2594;
    border-radius: 5px;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#signupForm {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6E2594;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#loginForm {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6E2594;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#titleImg {
    margin-left: 40%;
    width: 20%;
}